<div class="container-fuild">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item ">
                    <a class="nav-link " href="#">Course Info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Assigments</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Projects</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Discuss</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="#">Feedback</a>
                  </li>
                </ul>
              </div>
            </nav>
            <hr>
          </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <img src="../../assets/profileicon.png" style="height: 33px;width: 30px; margin-left: 130px;">
                    <input type="text" placeholder="Start Disscussion" style="margin-left: 30px;width: 80%;">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <img src="../../assets/profileicon.png" style="height: 33px;width: 30px; margin-left: 130px;">
                </div>
                <div class="col-10">
                    <p>How To Upload file in AWS</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <img src="../../assets/profileicon.png" style="height: 33px;width: 30px; margin-left: 130px;">
                    <input type="text" placeholder="Write a Reply" style="margin-left: 30px;">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <input type="text" placeholder="30 Replys">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-1">
                    <i class="fa fa-reply" aria-hidden="true"><span><h5>Reply</h5></span></i>
                    
                </div>
                <div class="row">
                    <div class="col-2">
                        <img src="../../assets/profileicon.png" style="height: 33px;width: 30px; margin-left: 130px;">
                    </div>
                    <div class="col-10">
                        <p>Suresh</p>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    </div>
                </div>
                <div class="row mt-6">
                    <div class="col-md-6">
                        <i class="fa fa-reply" aria-hidden="true"><span><h5>Reply</h5></span></i>
                        
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2">
                        <img src="../../assets/profileicon.png" style="height: 33px;width: 30px; margin-left: 130px;">
                    </div>
                    <div class="col-10">
                        <p>How To Upload file in AWS</p>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-9">

    </div>
    <div class="col-3">
        <button type="button" class="btn btn-warning">Have a doubt ? Rise a query</button>
    </div>
</div>