<div class="container">
    <form>
        <div class="row">
            <div class="col-12 text-center">
                <h4>RESET YOUR PASSWORD</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" >
                <div >
                    <input type="text"  aria-describedby="NEW PASSWORD" placeholder=" NEW PASSWORD">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" >
                <div >
                    <input type="text"  aria-describedby="CONFIRM PASSWORD" placeholder=" CONFIRM PASSWORD">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
              <button type="text" class="btn btn-primary btn-sm">SUBMIT</button>
            </div>
          </div>
    </form>

</div>



















