<div class="container-fluid">
    <div class="row ">
        <div class="col-3 change-password">
            <form >
                    <p style="list-style-type: none;">Edit Profile</p>
                    <p style="list-style-type: none;">Change Password</p>
                    <p style="list-style-type: none;">Invoices</p>
                    <p style="list-style-type: none;">Certificate</p>
            </form>
        </div>
        <div class="col-9">
            <div class="col-sm-6 form-text">
                <div class="form-group">
                    <label for="exampleInputName">Old Password</label>
                    <input type="Name" class="form-control" id="exampleInputName1" aria-describedby="NameHelp" placeholder = "Your Text">
                </div>
                <div class="form-group">
                    <label for="exampleInputName">New Password</label>
                    <input type="Name" class="form-control" id="exampleInputName1" aria-describedby="NameHelp" placeholder = "Enter Text">
                </div>
                <div class="form-group">
                    <label for="exampleInputName">Confirm Password</label>
                    <input type="Name" class="form-control" id="exampleInputName1" aria-describedby="NameHelp" placeholder = "Enter Text">
                </div>
                <div class="row">
                   <div class="col-12">
                       <button type="submit" class="btn btn-primary PX-5">Change Password</button>
                   </div>
                </div>
            </div>
        </div>

    </div>

</div>