input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
    border-radius: 0px;
  }
  input:focus {
    border-color: gray;
  }
  .changepassword-form{
      
  width: 44rem;
  border: 1px solid;
  
  }
  .button{
      margin-left: 149px;
  }

.change-password{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  width: 40px;
  height: 200px;
}
.form-text{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 50rem;
  
}