<div class="container">
    <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="justify-content-end" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="#">Course Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Resources</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Assigments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Discuss</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Feedback</a>
                </li>
              </ul>
            </div>
          </nav>
          <hr>
        </div>
      </div>
    <div class="row">
       <div class="col-12">
        <h5>Rate :</h5>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
       </div>
    </div>
    <div class="row">
        <div class="col-3">
            <img src="../../assets/profileicon.png" style="height: 33px;width: 30px;">
        </div>
        <div class="col-3">
            <p>Write a review</p>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <hr>

</div>
<div class="row">
    <div class="col-9">

    </div>
    <div class="col-3">
        <button type="button" class="btn btn-warning">Have a doubt ? Rise a query</button>
    </div>
</div>