<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="navbar-brand"><img src="../../assets/logo.png"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2 style="bottom: 50px; text-align: center;color: #4285F2;">Welcome Abdul Kabeer</h2>
        <h3 style="text-align: center; color: #6A6A6A;">Browse Programs</h3>
    </div>
</div>
<div class="row card-group">
    <div class="col-4 card-box">
        <img src="../../assets/aws.png"  class="card-img-top" alt="AWS">
            <div class="card-body">
                <h5 class="card-title">AWS</h5>
                <p class="card-text">Amazon Web Services, Inc. is a subsidiary of Amazon providing on-demand cloud computing platforms
                            and APIs to individuals, companies, and governments, on a metered pay-as-you-go basis</p>
            </div>
            <div class="row card-footer">
                <div class="col-6">
                    <img src="../../assets/curriculum.png">
                    <h5>Curriculum</h5>
                </div>
                <div class="col-6">
                    <img src="../../assets/enroll_here.png">
                    <h5>Download</h5>
                </div>
            </div>
    </div>
    <div class="col-4">
        <img src="../../assets/python.png" class="card-img-top" alt="AWS">
            <div class="card-body">
                <h5 class="card-title">Python</h5>
                <p class="card-text">Python is an interpreted high-level general-purpose programming language. Its design philosophy emphasizes code readability with its use of significant indentation</p>
            </div>
            <div class="row card-footer">
                <div class="col-6">
                    <img src="../../assets/curriculum.png">
                    <h5>Curriculum</h5>
                </div>
                <div class="col-6">
                    <img src="../../assets/enroll_here.png">
                    <h5>Download</h5>
                </div>
            </div>
    </div>
    <div class="col-4">
        <img src="../../assets/DevOps.png" class="card-img-top" alt="AWS">
            <div class="card-body">
                <h5 class="card-title">Devops</h5>
                <p class="card-text">DevOps is a set of practices that combines software development and IT operations. It aims to shorten the systems development life cycle and provide continuous delivery with high software quality.</p>
            </div>
            <div class="row card-footer">
                <div class="col-6">
                    <img src="../../assets/curriculum.png">
                    <h5>Curriculum</h5>
                </div>
                <div class="col-6">
                    <img src="../../assets/enroll_here.png">
                    <h5>Download</h5>
                </div>
            </div>
    </div>
</div>
