<div class="container px-0">
    <div class="row">
        <nav>
            <img src="../../assets/logo.png">
            <ul>
                <li style="margin-left: 53rem;position:relative;bottom:57px;list-style-type: none;">
                    My Classroom
                </li>
                <img src="../../assets/bell3.png" style="margin-left:960px;position:relative;bottom:80px;width: 40px;height: 40px; ">
                <img src="../../assets/profileicon.png" style="margin-left: 40px;position: relative; width: 20px;width: 30px; bottom: 80px;"> 
            </ul>
        </nav>

    </div>
    <div class="row course">
            <div class="col-4">
                <img src="../../assets/aws.png" style="width:80%;height:80%;">
            </div>
            <div class="col-4">
                <h3>Aws</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue risus, congue a erat in, facilisis eleifend nunc. Aliquam erat volutpat</p>
                <span style="font-size:200%;color:blue;">&bigstar;</span>
                <span style="font-size:200%;color:blue;">&bigstar;</span>
                <span style="font-size:200%;color:blue;">&bigstar;</span>
                <span style="font-size:200%;color:blue;">&bigstar;</span>
                <span style="font-size:200%;color:silver;">&bigstar;</span>  
            </div>
            <div class="col-sm-4" style="margin-top: 25px;">
                <button class="btn-primary">Continue
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
    </div>
    <div class="row course">
        <div class="col-4">
            <img src="../../assets/python.png" style="width:80%;height:80%; padding-bottom: 2px;">
        </div>
        <div class="col-4">
            <h3>Python</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue risus, congue a erat in, facilisis eleifend nunc. Aliquam erat volutpat</p>
            <span style="font-size:200%;color:blue;">&bigstar;</span>
            <span style="font-size:200%;color:blue;">&bigstar;</span>
            <span style="font-size:200%;color:blue;">&bigstar;</span>
            <span style="font-size:200%;color:blue;">&bigstar;</span>
            <span style="font-size:200%;color:silver;">&bigstar;</span>  
        </div>
        <div class="col-sm-4" style="margin-top: 25px;">
            <button class="btn-primary">Continue
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
</div>
</div>
<footer>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © Digital Lync 2020
        <a href="#" style="color:#000000;">Privacy Policy</a>
      </div>
    
</footer>