<div class="row">
    <div class="col-12">
        <nav>
            <img src="../../assets/logo.png">
            <ul>
                <li style="margin-left: 53rem;position:relative;bottom:50px;list-style-type: none;">
                    My Classroom
                </li>
                <img src="../../assets/bell3.png" style="margin-left:960px;position:relative;bottom:80px;width: 40px;height: 40px; ">
                <img src="../../assets/profileicon.png" style="margin-left: 40px;position: relative; width: 20px;width: 30px; bottom: 80px;"> 
            </ul>
        </nav>
    </div>
</div>
<div class="row upcoming-class ">
    <img src="../../assets/clock1.png" style="width: 40px; margin-left: 10rem;margin-top: 20px; ">
    <h5 class="header-upcoming">Your Upcoming Class at 28-04-20 IST 5.30PM</h5>
    <button style="margin-left:800px; width:105px; background-color:#4285F2; position: relative;bottom:50px;border:2px solid #4285F2">Join Class </button>

</div>
<hr>
<div class="results" >
    <p >Results</p>
    <p>Question1 :</p>
    <p>A Front-end developer works with languages like</p>
    <img src="../../assets/tickicon.png" style="width: 13px;height: 15px;float: left;"><p style="margin-left: 15px;">HTML, CSS and Javascript</p>
  </div>
  <hr>
  <div>
    <p>Question2 :</p>
    <p>A Front-end developer works with languages like</p>
    <img src="../../assets/tickicon.png" style="width: 13px;height: 15px;float: left; "><p style="margin-right:2px">HTML, CSS and Javascript</p>
    <img src="../../assets/tickicon.png" style="width: 13px;height: 15px;float: left;"><p style="margin-right:2px">HTML, CSS and Bootstrap</p>
  </div>
  <footer>
     <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4">
            <a href="#">I'll Try it later</a>
            <button class="btn btn-primary">Retry Again</button>
        </div>
     </div>
  </footer>

  <div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item ">
                    <a class="nav-link active" href="#">Course Info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Assigments</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Projects</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Discuss</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="#">Feedback</a>
                  </li>
                </ul>
              </div>
            </nav>
            <hr>
          </div>
    </div>
    <h5>About this Course</h5>
    <form>
        <div class="form-group">
            <input type="course" class="form-control" id="exampleInputcourse1" placeholder="Course Name : UI/UX">
        </div>
        <div>
            <input type="course" class="form-control" id="exampleInputcourse1"  placeholder="Start Course: 28-04-2020">
        </div>
        <div>
            <input type="text" class="form-control" id="exampleInputduration1" placeholder="Duration:20hr">
        </div>
        <div>
            <input type="text" class="form-control" id="exampleInputmodule1"  placeholder="Modules:10">
        </div>
        <div>
            <input type="text" class="form-control" id="exampleInputrequisties1"  placeholder="Prereqisties:No">
        </div>
        <div>
            <input type="text" class="form-control" id="exampleInputskill1" placeholder="Skill Level:Beginner">
        </div>

        
    </form>