<div class="container">
    <div class="row welcomepage">
        <img src="../../assets/man.png" style="text-align: center;">
    </div>
    <div class="header-cybersecurity">
        <h3>Welcome to the world of cyber security</h3>
    </div>
    <div class="row aws-box">
        <div class="col-sm-4">
            <img src="../../assets/aws.png">
    
        </div>
        <div class="col-sm-4" style="margin-top: 25px;" >
            <h5>AWS</h5>
        </div>
        <div class="col-sm-4" style="margin-top: 25px;">
            <button class="btn-primary">Start Course
            <img src="../../assets/rightarrow(1).jpg" style="width: 20px;height: 20px;"></button>
        </div>
    
    </div>
    <div>
        <button class="button">My Classroom</button>
    </div>
</div>