<div class="container">
    <div class="row">
        <div class="col-12 ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item ">
                    <a class="nav-link " href="#">Course Info</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link " href="#">Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Assigments</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Projects</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Discuss</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="#">Feedback</a>
                  </li>
                </ul>
              </div>
            </nav>
            <hr>
          </div>
    </div>
    </div>
<div class="row">
    <div class="col-12">
        <h5>Programming Assignment: Linear Regression</h5>
        <p>Dead Line : Pass this assignment by May 5,12:00pm IST</p>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <nav class="navbar">
            <ul class="navbar-nav ml-auto" style="list-style-type: none;">
                <li><a href="#">Instructions</a></li>
                <li><a href="#">View Source</a></li>
            </ul>
        </nav>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-6">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
    </div>
    <div class="col-6">
        <h5>How to Submit</h5>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
        <button type="button" class="btn btn-primary">Submit assigments</button>
    </div>
</div>