.form-group{
    width:14rem; 
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto; 
}
.certificate{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 900px;
}