<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"><img src="../../assets/logo.png"></a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a style="text-decoration: underline; color: black; margin-top: 30px;"  href="#">My Classroom </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="../../assets/bell3.png" style="width: 40px;"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="../../assets/profileicon.png" style="width: 50px;"></a>
            </li>
          </ul>
        </div>
      </nav>
</div>
<div class="row  ">
    <div class="col-3">
      <form class="form-group">
          <h5>Edit Profile</h5>
          <h5>Change Password</h5>
          <h5>Invoices</h5>
          <h5>Certificate</h5>
      </form>
    </div>
    <div class="col-9 certificate">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/aws.png">
            </div>
            <div class="col-10"> 
                <h5>AWS</h5>
                <p>100% Course Complated</p>
            <div class="row">
                <div class="col-6">
                  <a href="DOWNLOAD CERTIFICATE">DOWNLOAD CERTIFICATE</a>
                </div>
                <div class="col-6">
                    <a href="VERIFY CERTIFICATE">VERIFY CERTFOCATE</a>
                </div>
            </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2">
                <img src="../../assets/python.png">
            </div>
            <div class="row">
                <div class="col-10">
                  <h5>Python</h5>
                  <p>40% Course Completed</p>
                  <p>You can Download Certificate after complete course completion</p>
                </div>
            </div>
        </div>
    </div>
    
</div>

