<div class="container-fluid" >
    <div class="row">
        <div class="col-12 text-center">
            <img src="../../assets/logo.png">
        </div>
    </div>
    <div class="row signup-form">
        <div class="col-12">
            <form>
                <h4 class="text-center">SIGN UP</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="Name" class="form-control" id="exampleInputName1" aria-describedby="NameHelp" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="Name" class="form-control" id="exampleInputName1" aria-describedby="NameHelp" placeholder="Enter Last Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="Mobile " class="form-control" placeholder="Mobile">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mt-3">
                        <input type="Password" class="form-control" placeholder="Password">
                    </div>
                    <div class="col-6 mt-3">
                        <input type= "Confirm Password" class="form-control" placeholder=" Confirm Password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center pt-4">
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="strike">
                            <span>OR</span>
                         </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 text-center">
                        <img src="../../assets/linkedin.png" width="80px">
                        <img src="../../assets/google.png" width="40px; height:30px;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>