<div class="container">
    <div class="row">
        <div class="col-12">
            <nav>
                <img src="../../assets/logo.png">
                <ul>
                    <li style="margin-left: 53rem;position:relative;bottom:57px;list-style-type: none;">
                        My Classroom
                    </li>
                    <img src="../../assets/bell3.png" style="margin-left:960px;position:relative;bottom:80px;width: 40px;height: 40px; ">
                    <img src="../../assets/profileicon.png" style="margin-left: 40px;position: relative; width: 20px;width: 30px; bottom: 80px;"> 
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-3 card-profile">
        <p>Edit Profile</p>
        <p >Change Password</p>
        <p >Invoices</p>
        <p >Certificate</p>
    </div>
    <div class="col-9 invoice">
        <div class="row ">
            <div class="col-4">
                <img src="../../assets/aws.png">
            </div>
            <div class="col-4 text-center">
                <h5 >AWS</h5>
            </div>
            <div class="col-4">
                <p >Date 05/05/2020</p>
                <p>Total Payed : 34,999.00</p>
                <p ><a href="DOWNLOAD INVOICE"></a>DOWNLOAD INVOICE</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
                <img src="../../assets/python.png">
            </div>
            <div class="col-4">
                <h5>Python</h5>
            </div>
            <div class="col-4">
                <p >Date 05/05/2020</p>
                <p>Total Payed : 34,999.00</p>
                <p ><a href="DOWNLOAD INVOICE"></a>DOWNLOAD INVOICE</p>
            </div>
        </div>
    </div>
</div>