input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: #FFFFFF;
    border-radius: 0px;
  }
  input:focus {
    border-color: gray;
  }
.edit-profile{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
}
.form-group{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
}
  