<div class="container">
    <div class="row">
        <div class=" col-12 orderdetails">
            <h5>
                ORDER DETAILS
            </h5>
        </div>
    </div>
        <div class="row course-price">
            <div class="col-6">
                <p>COURSE</p>
            </div>
            <div class="col-6">
                <p>PRICE</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../../assets/aws.png" style="margin-left: 113px;">
            </div>
            <div class="col-4">
                <h5 style="margin-left: 170px;">AWS</h5>
            </div>
            <div class="col-4">
                <p>₹ 34,999.00</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
    
            </div>
            <div class="col-6">
                <p>Total:₹ 34,999.00</p>
                <input type="text" name="coupon" placeholder="Coupon"> <span><button>Apply</button></span>
                <p>Grand Total:₹ 34,999.00</p>
                <button type="button" class="btn btn-primary">PROCEED FOR PAYMENT</button>
            </div>
        </div>
</div>